// compress: true

@import url("../mixins/functions.less");


body {
  background-color: @white;
  .wrapper {
    max-width: 950px;
    margin: 0 auto;
  }
}

//
// Home
//

.menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  nav {
    background-color: transparent;
    margin-top: 50px;
    border: none;
    ul {
      margin-top: 20px;
      li {
        a {
          margin: 0 5px 0 5px;
          padding: 8px 15px 8px 15px;
          border-radius: 5px;
          font-size: 18px;
          font-family: @open;
          color: @gray-10;
          .transition(all .5s);
          .transform(skewX(-20deg));
          .text{
            .transform(skewX(20deg));
          }
          &:hover {
            margin: 0 5px 0 5px;
            background-color: @green!important;
            color: @white!important;
            border-radius: 5px;
            display: inline-block;
            .transform(skewX(-20deg));
            .transition(all .5s);
            .text{
              .transform(skewX(20deg));
            }
          }
        }
      }
    }
  }
}

.banner {
  background-image: url(../../img/bg-banner.png);
  background-color: @white;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 1200px;
  height: 700px;
  .banner-title {
    line-height: 50px;
    margin-top: 270px;
    font-size: 40px;
    font-weight: bold;
    font-family: @open;
    color: @gray-10;
    .green {
      color: @green;
    }
  }
}

.planos {
  overflow: hidden;
  .col-md-6 { padding: 0;}
  .bg1{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    background-image: url(../../img/cuidador-pessoas.png);
    background-size: cover;
    .box1{
      background-repeat: no-repeat;
      padding: 90px 60px;
      float: right;
      img {
        position: relative;
        z-index: @z-index-1;
      }
      .transparencia {
        position: absolute;
        background-color: @blue;
        .transparencia(.8);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; 
      }
    }
  }
  .bg2{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-image: url(../../img/consultoria-saude.png);
    background-size: cover;
    .box2{
      padding: 90px 60px;
      background-repeat: no-repeat;
      float: left;
      img {
        position: relative;
        z-index: @z-index-1;
      }
      .transparencia {
        position: absolute;
        background-color: @green-20;
        .transparencia(.8);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; 
      }
    }
  }
}

.newsletter {
  background-color: @green;
  padding: 45px 0 45px 0;
  .newsletter-title {
    margin: 40px 0 10px 0;
    font-size: 32px;
    font-weight: bold;
    font-family: @open;
    color: @green-10;
  }
  .newsletter-description {
    font-size: 18px;
    font-weight: normal;
    font-family: @open;
    color: @green-10;
  }
  .icon-newsletter {
    width: 300px;
    height: auto;
    float: right;
  }
  .input-newsletter {
    margin-top: 25px;
    color: @green-10;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    padding: 5px 25px;
    .placeholder(@green-10);
  }
}

.footer {
  overflow: hidden;
  background-color: @brown;
  padding: 50px 0 50px 0; 
  .logo-footer {
    margin: 0 0 15px 0;
  }
  .footer-title {
    margin: 0 0 10px 0;
    font-family: @open;
    font-size: 22px;
    font-weight: bold;
    color: @white;
  }
  .footer-description {
    font-family: @open;
    font-size: 16px;
    font-weight: normal;
    color: @green;
  }
  .menu-footer {
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        a {
          text-decoration: none;
          font-family: @open;
          font-size: 16px;
          font-weight: normal;
          color: @green;
        }
      }
    }
  }
  .line {
    margin: 80px 0 0 0;
    background-color: @green;
    width: 100%;
    height: 1.5px;
    img {
      margin: 0 auto;
      width: 100px;
      height: auto;
      display: block;
      position: relative;
      top: -50px;
    }
  }
}

//
// Sobre
//

.sobre {
  margin: 220px 0 0 0;
  .sobre-title {
    padding: 0 0 15px 0;
    margin: 0 0 35px 0;
    border-bottom: 2px solid @green;
    font-size: 28px;
    font-weight: bold;
    font-family: @open;
    color: @gray-10;
  }
  .sobre-description {
    margin: 0 0 30px 0;
    font-size: 18px;
    font-weight: lighter;
    font-family: @open;
    color: @gray-10;
  }
  .bg-sobre {
    z-index: @z-index-1;
    position: absolute;
    top: 250px;
    right: 0;
    img {
      width: 800px;
      height: auto;
    }
  }
}

.bg-top {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-image: url(../../img/bg-top.svg);
  margin-top: -340px;
  margin-bottom: -1px;
}

.bg-bottom {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-image: url(../../img/bg-bottom.svg);
  margin-top: -1px;
}

.valores {
  position: relative;
  background-color: @green;
  padding: 80px 0 80px 0; 
  .valores-title {
    text-align: center;
    font-family: @open;
    font-weight: bold;
    font-size: 24px;
    color: @white;
  }
  .valores-description {
    text-align: center;
    font-family: @open;
    font-weight: lighter;
    font-size: 18px;
    color: @white;
  }
  img {
    border: none;
  }
}

.atuacao {
  margin: -200px 0 0 0;
  padding: 0 0 150px 0;
  .bg-atuacao {
    margin-top: 55px;
  }
  .atuacao-title {
    padding: 0 0 15px 0;
    margin: 0 0 35px 0;
    border-bottom: 2px solid @green;
    font-size: 28px;
    font-weight: bold;
    font-family: @open;
    color: @gray-10;
  }
  .atuacao-description {
    margin: 0 0 30px 0;
    font-size: 18px;
    font-weight: lighter;
    font-family: @open;
    color: @gray-10;
  }
}
//
// Serviços
//

.plano-servicos {
  margin: 180px 0 0 0;
  padding: 35px 0 70px 0;
  .servicos-description {
    margin: 30px 0 30px 0;
    font-size: 16px;
    font-weight: lighter;
    font-family: @open;
    color: @gray-10;
  }
}

.bg-medico {
  position: absolute;
  top: 215px;
  right: 200px;
}

.bg-plano-servicos {
  background-color: @gray-20;
  width: 100%;
  height: 130px;
}

.plano_1 {
  padding: 30px 0 45px 0;
  background-color: @green-20;
  .menu-servicos {
    margin: 50px 0 0 0;
    ul {
      li {
        color: @white;
        a {
          font-family: @open;
          font-size: 18px;
          font-weight: normal;
          color: @white;
          text-decoration: none;
        }
      }
    }
  }
}

.plano-consultoria {
  .servicos-description {
    margin: 15px 0 30px 125px;
    font-size: 16px;
    font-weight: lighter;
    font-family: @open;
    color: @gray-10;
  }
  .bg-icon-consultoria {
    margin: 60px 0 20px 124px;
  }
  .bg-cuidador {
    width: 590px;
    height: auto;
  }
}

.plano_2 {
  padding: 30px 0 45px 0;
  background-color: @blue;
  .menu-servicos {
    margin: 50px 0 0 0;
    ul {
      li {
        color: @white;
        a {
          font-family: @open;
          font-size: 18px;
          font-weight: normal;
          color: @white;
          text-decoration: none;
        }
      }
    }
  }
}

//
// Contato
//

.contato {
  border-top: 2px solid @green;
  margin: 170px 0 0 0;
  padding: 90px 0 100px 0;
  .contato-title {
    font-size: 60px;
    font-family: @open;
    font-weight: lighter;
    text-align: left;
  }
  .contato-subtitle {
    padding: 15px 0 15px 0;
    font-size: 22px;
    font-family: @open;
    font-weight: bold;
    text-align: left;
  }
  .contato-email {
    padding: 5px 0 5px 0;
    font-size: 14px;
    font-family: @open;
    font-weight: lighter;
    text-align: left;
    &:before {
      content: url(../../img/icon-email.svg);
      width: 15px;
      height: 15px;
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
    }
  }
  .contato-description {
    padding: 5px 0 5px 0;
    font-size: 14px;
    font-family: @open;
    font-weight: lighter;
    text-align: left;
    &:before {
      content: url(../../img/icon-localizacao.svg);
      width: 15px;
      height: 15px;
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
    }
  }
  form {
    .btn-main-primary.enviar {
      width: 140px;
      border-radius: 5px;
      margin: 0 0 0 0;
      background-color: @green;
      color: @white;
      font-size: 18px;
    }
  }
}